*.class
*.log

# Vagrantin tila
.vagrant

# IntelliJ IDEA
*.iml
.idea

# clojure
.lein-env
.lein-failures
.lein-repl-history
.nrepl-port

# target-kansio
juku-backend/target
juku-db/target

juku-backend/juku.properties

juku-backend/juku-letto-petrisi.properties

juku-backend/report.xml
