*.class
*.log
.vagrant

# Vagrantin tila
.vagrant

# IntelliJ IDEA
*.iml

# clojure
.lein-env
.lein-failures
.lein-repl-history
.nrepl-port

# target-kansio
juku-backend/target
juku-db/target

juku-backend/juku.properties
