<configuration scan="true" scanPeriod="1000">
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{yyyy-MM-dd'T'HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n%ex</pattern>
        </encoder>
    </appender>

    <!-- Only >= info from HikariPool messages -->
    <logger name="com.zaxxer.hikari.pool.HikariPool" level="info" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <root level="debug">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>